@import url(./padrao.css);

:root{
    overflow-x: hidden;
}



header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    color: #F5F5F5;
    padding: 25px 35px;
    height: 100px;
}

nav h1, nav h2{
    color: #F5F5F5;
    font-family: Cutive Mono;
    font-style: normal;
    font-weight: 400;
    line-height: 65px;
    font-size: 70px;
    width: 400px;
    letter-spacing: -4.9px;
    text-align: center;
}

nav h2{
    font-size: 34px;
    line-height: 30px;
    letter-spacing: 7.175px;
}

.sacola-container{
    position: relative;
}

.quantidade-itens{
    position: absolute;
    left: 67%;
    top: 17%;
}

/* ----------------------------------------------------------------- main ----------------------------------------------------------------- */

main h1{
    color: #000;
    text-align: center;
    font-family: Bona Nova;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    padding-top: 40px;
    padding-bottom: 40px;
}

.produtos-destaque{
    background-image: url(../assets/fundo-gradiente.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 110vh;
    width: 100vw; 
}

.carousel-caption {
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    color: #000;
    text-align: center;
    font-family: Bona Nova;
    font-size: min(27px, 1.406vw);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
  }

  .carousel-caption p {
    font-size: min(20px ,1.04166vw);
  }

  .carousel-indicators li {
    background-color: rgba(78, 76, 76, 0.199); /* Altere para a cor desejada */
  }

  .carousel-indicators .active {
    background-color: rgba(0, 0, 0, 0.808); /* Altere para a cor desejada */
  }

      /* Personalize a posição das setas do carrossel */
.carousel-control-prev,
.carousel-control-next {
    top: 80%; /* Ajuste para a posição vertical desejada */
}

.carousel-control-prev {
    left: 23%; /* Ajuste para a posição horizontal da seta anterior */
}

.carousel-control-next {
    right: 23%; /* Ajuste para a posição horizontal da seta próxima */
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
  }


  .carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
  }



.produtos-destaque-carrossel{
    display: flex;
    width: 95%;
    overflow: hidden;
    margin: 0 2.5%;
    justify-content: space-between;
    height: 20.8333vw;
    align-items: end;
}

.destaque-card{
    width: 26.40625vw;
    max-width: 507px;
    height: 14.3796vw;
    max-height: 276.09px;
    background: #EFEFF0;
    box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.25);
    flex-shrink: 0;
    background-image: url(../assets/bloob.svg);
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    display: grid;
    grid-template-columns: 35% 40% 25%;
}

.destaque-card> div:first-child{
   height: 14.3796vw;
   max-height: 276.09px;
}

.destaque-card-imagem{
    position: absolute;
    height: 19.3109375vw;
    max-height: 371.54px;
    transform: rotate(0.427deg);
    flex-shrink: 0;
    bottom: 0%;
    left: 8%;
}

.card-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    gap: 20%;
    padding: 22% 10%;
}

.card-info h2{
    color: #000;
    text-align: justify;
    font-family: Droid Sans;
    font-size: min(20px ,1.04166vw);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.3px;
    letter-spacing: min(1.3px ,0.06770vw);
    margin-bottom: 9%;
}

.card-info h3{
    font-weight: 700;
    font-size: min(20px ,1.04166vw);
}

.card-info p{
    font-size: min(20px ,1.04166vw);
}

.card-carrinho{
    display: flex;
    align-items: end;
    justify-content: center;
    padding: 10% 0;
}

.card-carrinho div{
    background-color: #fff;
    padding: min(20px, 1.041666vw);
    border-radius: 50%;
}

.card-carrinho img{
    width: min(27px, 1.406vw);
    object-fit: contain;
}

.circulo:hover{
    background-color: #0000001e;
}

.card-carrinho p{
    width: min(27px, 1.406vw);
    height: min(27px, 1.406vw);
    font-family: Droid Sans;
    font-size: min(27px, 1.406vw);
    text-align: center;
    font-weight: 700;
    align-items: baseline;
}

.subtrair{
    background-color: #fff;
    margin-bottom: min(16px, 0.8333vw);
    margin-right: min(25px, 1.302083vw);
    border-radius: min(5px, 0.26041vw);
    user-select: none;
}

.subtrair:hover, .somar:hover{
    background-color: #0000001e;
}

.somar{
    background-color: #fff;
    margin-bottom: min(16px, 0.8333vw);
    margin-left: min(25px, 1.302083vw);
    border-radius: min(5px, 0.26041vw);
    user-select: none;
}

.circulop{
    position: absolute;
}

/* galeria de produtos */

.produtos-galeria{
    background-image: url("../assets/Fundo-preto.svg");
    background-size: cover;
    margin-top: -350px;
    height: 200vh;
    width: 100vw; 
}