@import url(./padrao.css);
@import url(../script/calcular.js);

:root{
    overflow-x: hidden;
}



header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    color: #F5F5F5;
    padding: min(25px ,1.30208vw) min(35px ,1.82291vw);
    height: min(100px ,10.20833vw);
}

nav h1, nav h2{
    color: #F5F5F5;
    font-family: Cutive Mono;
    font-style: normal;
    font-weight: 400;
    line-height: min(65px ,3.38541vw);
    font-size: min(70px ,3.64583vw);
    width: 100%;
    text-align: center;
}

nav h2{
    font-size: min(70px ,1.77083vw);
    line-height: min(30px ,1.5625vw);
    letter-spacing: min(7.175px ,0.37369vw);
}

.sacola-container{
    position: relative;
}

.quantidade-itens{
    position: absolute;
    left: 67%;
    top: 17%;
    font-size: min(16px ,1.79333vw);
}

nav img{
    width: min(50px ,5.60416vw);
    height: min(50px ,5.60416vw);
    object-fit: contain;
}



/* ----------------------------------------------------------------- main ----------------------------------------------------------------- */

main h1{
    color: #000;
    text-align: center;
    font-family: Bona Nova;
    font-size: min(70px ,3.64583vw);     
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    padding-top: 40px;
    padding-bottom: 40px;
}

.produtos-destaque{
    background-image: url(../assets/fundo-gradiente.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw; 
    padding-bottom: 25vw;
}

.produtos-destaque-carrossel{
    display: flex;
    width: 100%;
    overflow: hidden;
    justify-content: space-around;
    height: min(400px, 20.8333vw);
}

.destaque-card{
    margin-top: min(95px, 4.94791vw);
    width: min(507px, 26.40625vw);
    height: min(276.09px, 14.37960vw);
    background: #EFEFF0;
    box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.25);
    flex-shrink: 0;
    background-image: url(../assets/bloob.svg);
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    display: grid;
    grid-template-columns: 35% 40% 25%;
}

.destaque-card> div:first-child{
   height: 14.3796vw;
   max-height: 276.09px;
}

.destaque-card-imagem{
    position: absolute;
    height: min(390px, 19.3109375vw);
    transform: rotate(0.427deg);
    flex-shrink: 0;
    bottom: 0%;
    left: 8%;
}

.card-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    gap: 20%;
    padding: 22% 10%;
}

.card-info h2{
    color: #000;
    text-align: justify;
    font-family: Droid Sans;
    font-size: min(20px ,1.04166vw);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.3px;
    letter-spacing: min(1.3px ,0.06770vw);
    margin-bottom: 9%;
}

.card-info h3{
    font-weight: 700;
    font-size: min(20px ,1.04166vw);
}

.card-info p{
    font-size: min(20px ,1.04166vw);
}

.card-carrinho{
    display: flex;
    align-items: end;
    justify-content: center;
    padding: 10% 0;
}

.card-carrinho div{
    background-color: #fff;
    padding: min(20px, 1.041666vw);
    border-radius: 50%;
}

.card-carrinho img{
    width: min(27px, 1.406vw);
    object-fit: contain;
}

.circulo:hover{
    background-color: #0000001e;
}

.card-carrinho p{
    width: min(27px, 1.406vw);
    height: min(27px, 1.406vw);
    font-family: Droid Sans;
    font-size: min(27px, 1.406vw);
    text-align: center;
    font-weight: 700;
    align-items: baseline;
}

.subtrair{
    background-color: #fff;
    margin-bottom: min(16px, 0.8333vw);
    margin-right: min(25px, 1.302083vw);
    border-radius: min(5px, 0.26041vw);
    user-select: none;
}

.subtrair:hover, .somar:hover{
    background-color: #0000001e;
}

.somar{
    background-color: #fff;
    margin-bottom: min(16px, 0.8333vw);
    margin-left: min(25px, 1.302083vw);
    border-radius: min(5px, 0.26041vw);
    user-select: none;
}

.circulop{
    position: absolute;
}


/* media querie */

@media only screen and (max-width: 700px) {
    .produtos-destaque-carrossel{
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: 0 10%;
        overflow: hidden;
        justify-content: center;
        align-items: center;
        height: max-content;
    }
}



.produtos-galeria{
    background-image: url("../assets/Fundo-preto.svg");
    background-size: cover;
    margin-top: -23vw;
    height: 200vh;
    width: 100vw; 
}